# Functions demo
Just try to wrong all the functions available in the py files

In [1]:
from datetime import datetime
from dateutil.relativedelta import relativedelta
from pathlib import Path

import numpy as np
import pandas as pd
import wrds

from settings import config

DATA_DIR = Path(config("DATA_DIR"))
WRDS_USERNAME = config("WRDS_USERNAME")
START_YEAR = config("START_YEAR")
END_YEAR = config("END_YEAR")

In [40]:
from pull_markit import load_markit_data
from pull_rf_data import load_fed_yield_curve, load_fred_data

In [41]:
markit = load_markit_data()
fed_data = load_fed_yield_curve()
fred_data = load_fred_data()

In [68]:
rf_data = pd.merge(fred_data, fed_data, on="Date")

In [64]:
markit["first_trade_date"].drop_duplicates()

0      2001-08-10
1      2001-05-01
2      2001-11-01
3      2001-12-03
4      2001-07-02
          ...
6930   2024-11-13
7038   2024-06-13
7203   2024-10-11
7524   2024-10-23
7653   2024-10-29
Name: first_trade_date, Length: 3622, dtype: datetime64[ns]

In [69]:
rf_data = rf_data.merge(markit["first_trade_date"].drop_duplicates(),left_on = "Date", right_on="first_trade_date", how = "inner").set_index("first_trade_date")

In [70]:
rf_data.index.name = "Date"

In [71]:
rf_data.head(5)

            DGS3MO  DGS6MO   SVENY01   SVENY02   SVENY03   SVENY04   SVENY05
Date
2001-01-02  0.0587  0.0558  0.052389  0.049120  0.047983  0.047879  0.048272
2001-01-03  0.0569  0.0544  0.052329  0.049955  0.049536  0.049857  0.050459
2001-01-05  0.0512  0.0498  0.047804  0.046237  0.046335  0.047015  0.047892
2001-01-08  0.0519  0.0503  0.047666  0.045975  0.046117  0.046856  0.047784
2001-01-09  0.0524  0.0511  0.048714  0.046966  0.046978  0.047592  0.048409

In [84]:
import numpy as np
from scipy.interpolate import CubicSpline
import matplotlib.pyplot as plt

x = [0.25,0.5,1,2,3,4,5]
y = rf_data.iloc[1]
f = CubicSpline(x, y, bc_type="natural")
xvals = np.linspace(0.25,5,20)
yinterp = f(xvals)
b = {'Duration': xvals, 'Yield': yinterp}
data = pd.DataFrame(data=b)
data

    Duration     Yield
0       0.25  0.056900
1       0.50  0.054400
2       0.75  0.053014
3       1.00  0.052329
4       1.25  0.051692
5       1.50  0.051034
6       1.75  0.050430
7       2.00  0.049955
8       2.25  0.049664
9       2.50  0.049529
10      2.75  0.049502
11      3.00  0.049536
12      3.25  0.049591
13      3.50  0.049661
14      3.75  0.049749
15      4.00  0.049857
16      4.25  0.049987
17      4.50  0.050135
18      4.75  0.050294
19      5.00  0.050459

In [79]:
yinterp

array([0.0569    , 0.05450189, 0.05310839, 0.05241856, 0.05182384,
       0.05119676, 0.05060132, 0.05010199, 0.04975879, 0.0495731 ,
       0.0495047 , 0.04951251, 0.04955599, 0.04961318, 0.04968495,
       0.04977359, 0.04988138, 0.05000849, 0.05015052, 0.05030251,
       0.05045948])

In [85]:
r_t_df = pd.DataFrame(index=rf_data.index, columns=xvals)
r_t_df

,0.25,0.50,0.75,1.00,1.25,1.50,1.75,2.00,2.25,2.50,2.75,3.00,3.25,3.50,3.75,4.00,4.25,4.50,4.75,5.00
Date,,,,,,,,,,,,,,,,,,,,
2001-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-12-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-12-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-12-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-12-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
rf_data

            DGS3MO  DGS6MO   SVENY01   SVENY02   SVENY03   SVENY04   SVENY05
Date
2001-01-02  0.0587  0.0558  0.052389  0.049120  0.047983  0.047879  0.048272
2001-01-03  0.0569  0.0544  0.052329  0.049955  0.049536  0.049857  0.050459
2001-01-05  0.0512  0.0498  0.047804  0.046237  0.046335  0.047015  0.047892
2001-01-08  0.0519  0.0503  0.047666  0.045975  0.046117  0.046856  0.047784
2001-01-09  0.0524  0.0511  0.048714  0.046966  0.046978  0.047592  0.048409
...            ...     ...       ...       ...       ...       ...       ...
2024-12-03  0.0449  0.0440  0.042728  0.041693  0.041091  0.040816  0.040781
2024-12-05  0.0446  0.0438  0.042342  0.041345  0.040735  0.040425  0.040345
2024-12-06  0.0442  0.0434  0.041956  0.040922  0.040321  0.040044  0.040007
2024-12-12  0.0435  0.0431  0.042112  0.041618  0.041379  0.041342  0.041463
2024-12-16  0.0437  0.0430  0.042397  0.042075  0.041958  0.042003  0.042175

[3498 rows x 7 columns]

In [139]:
xvals = np.linspace(0.25,5,20)
x = [0.25,0.5,1,2,3,4,5]
r_t_df = pd.DataFrame(index=rf_data.index, columns=xvals)

def interpolate_row(y):
    f = CubicSpline(x, y, bc_type="natural")  # Cubic spline interpolation
    return pd.Series(f(xvals), index=xvals)  # Evaluate at xvals

# Apply the interpolation to each row
r_t_df.loc[:, :] = rf_data.apply(interpolate_row, axis=1)
r_t_df = r_t_df.astype(float)

In [132]:
maturities = np.array(r_t_df.columns, dtype= float)

In [115]:
maturities

array([0.25, 0.5 , 0.75, 1.  , 1.25, 1.5 , 1.75, 2.  , 2.25, 2.5 , 2.75,
       3.  , 3.25, 3.5 , 3.75, 4.  , 4.25, 4.5 , 4.75, 5.  ])

In [133]:
def check_non_numeric_cells(df):
    """
    Checks for non-numeric cells in a Pandas DataFrame.

    Args:
        df (pd.DataFrame): The DataFrame to check.

    Returns:
        pd.DataFrame: A DataFrame with boolean values indicating non-numeric cells.
    """
    return df.apply(lambda col: pd.to_numeric(col, errors='coerce').isnull())

In [134]:

non_numeric_cells_df = check_non_numeric_cells(r_t_df)

In [135]:
non_numeric_cells_df

,0.25,0.50,0.75,1.00,1.25,1.50,1.75,2.00,2.25,2.50,2.75,3.00,3.25,3.50,3.75,4.00,4.25,4.50,4.75,5.00
Date,,,,,,,,,,,,,,,,,,,,
2001-01-02,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2001-01-03,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2001-01-05,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2001-01-08,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2001-01-09,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-03,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2024-12-05,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2024-12-06,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2024-12-12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2024-12-16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [140]:
r_t_df_copy = r_t_df.copy()

In [106]:
r_t_df = r_t_df_copy.copy()

In [141]:
for i in range(len(r_t_df)):
    r_t_df.iloc[i] *= maturities

r_t_df = np.exp(-1 * r_t_df / 4)

In [143]:
r_t_df.head(2)

,0.25,0.50,0.75,1.00,1.25,1.50,1.75,2.00,2.25,2.50,2.75,3.00,3.25,3.50,3.75,4.00,4.25,4.50,4.75,5.00
Date,,,,,,,,,,,,,,,,,,,,
2001-01-02,0.996338,0.993049,0.989971,0.986988,0.984096,0.981274,0.978496,0.975739,0.972986,0.970225,0.967448,0.964652,0.961838,0.959001,0.956139,0.953249,0.950330,0.947386,0.944422,0.941444
2001-01-03,0.996450,0.993223,0.990109,0.987003,0.983976,0.981044,0.978178,0.975332,0.972451,0.969519,0.966540,0.963530,0.960509,0.957478,0.954432,0.951365,0.948274,0.945159,0.942024,0.938874

In [144]:
r_t_df

,0.25,0.50,0.75,1.00,1.25,1.50,1.75,2.00,2.25,2.50,2.75,3.00,3.25,3.50,3.75,4.00,4.25,4.50,4.75,5.00
Date,,,,,,,,,,,,,,,,,,,,
2001-01-02,0.996338,0.993049,0.989971,0.986988,0.984096,0.981274,0.978496,0.975739,0.972986,0.970225,0.967448,0.964652,0.961838,0.959001,0.956139,0.953249,0.950330,0.947386,0.944422,0.941444
2001-01-03,0.996450,0.993223,0.990109,0.987003,0.983976,0.981044,0.978178,0.975332,0.972451,0.969519,0.966540,0.963530,0.960509,0.957478,0.954432,0.951365,0.948274,0.945159,0.942024,0.938874
2001-01-05,0.996805,0.993794,0.990917,0.988120,0.985369,0.982637,0.979900,0.977147,0.974369,0.971560,0.968719,0.965846,0.962945,0.960015,0.957058,0.954073,0.951062,0.948027,0.944969,0.941891
2001-01-08,0.996762,0.993732,0.990883,0.988154,0.985465,0.982766,0.980036,0.977275,0.974494,0.971692,0.968864,0.966004,0.963109,0.960180,0.957217,0.954225,0.951207,0.948166,0.945102,0.942019
2001-01-09,0.996730,0.993633,0.990702,0.987895,0.985136,0.982376,0.979595,0.976791,0.973970,0.971132,0.968270,0.965380,0.962460,0.959509,0.956529,0.953523,0.950493,0.947442,0.944372,0.941284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-03,0.997198,0.994515,0.991919,0.989375,0.986857,0.984351,0.981853,0.979369,0.976910,0.974476,0.972059,0.969652,0.967246,0.964837,0.962424,0.960006,0.957583,0.955156,0.952728,0.950301
2024-12-05,0.997216,0.994540,0.991968,0.989470,0.986994,0.984512,0.982022,0.979540,0.977090,0.974675,0.972286,0.969911,0.967535,0.965155,0.962770,0.960381,0.957990,0.955598,0.953207,0.950819
2024-12-06,0.997241,0.994590,0.992041,0.989566,0.987114,0.984659,0.982199,0.979747,0.977325,0.974935,0.972568,0.970212,0.967855,0.965492,0.963122,0.960747,0.958368,0.955985,0.953602,0.951221
2024-12-12,0.997285,0.994627,0.992046,0.989527,0.987018,0.984492,0.981950,0.979406,0.976885,0.974389,0.971912,0.969442,0.966968,0.964486,0.961997,0.959501,0.957001,0.954499,0.951995,0.949491
2024-12-16,0.997272,0.994639,0.992046,0.989457,0.986876,0.984305,0.981740,0.979182,0.976633,0.974092,0.971555,0.969021,0.966487,0.963951,0.961411,0.958867,0.956317,0.953763,0.951206,0.948647

In [152]:
r_t_df.index

DatetimeIndex(['2001-01-02', '2001-01-03', '2001-01-05', '2001-01-08',
               '2001-01-09', '2001-01-18', '2001-01-22', '2001-01-25',
               '2001-01-30', '2001-02-01',
               ...
               '2024-11-07', '2024-11-13', '2024-11-20', '2024-11-26',
               '2024-12-02', '2024-12-03', '2024-12-05', '2024-12-06',
               '2024-12-12', '2024-12-16'],
              dtype='datetime64[ns]', name='Date', length=3498, freq=None)

In [153]:
markit["first_trade_date"] = pd.to_datetime(markit["first_trade_date"])

rd_df = markit.merge(r_t_df, left_on = "first_trade_date", right_on = r_t_df.index, how = "left")

In [155]:
def calc_lambda(cds_df, L =0.6):
    cds_df["lambda"] = 4 * np.log(1+cds_df["midspread"] / 4 * L)
    return cds_df

In [156]:
rd_df = calc_lambda(rd_df)

In [158]:
rd_df.head(2)

,ticker,redcode,month,first_trade_date,midspread,Date,0.25,0.5,0.75,1.0,...,3.0,3.25,3.5,3.75,4.0,4.25,4.5,4.75,5.0,lambda
0,EMN,29EB75,2001-08-01 00:00:00-04:00,2001-08-10,0.011089,2001-08-10,0.997859,0.995796,0.993706,0.991502,...,0.969615,0.966536,0.963405,0.960232,0.957022,0.953782,0.950509,0.947200,0.943847,0.006648
1,TIN,8FGHEE,2001-05-01 00:00:00-04:00,2001-05-01,0.011838,2001-05-01,0.997553,0.995112,0.992609,0.990008,...,0.966648,0.963474,0.960260,0.957010,0.953727,0.950413,0.947069,0.943691,0.940276,0.007097

In [162]:
rd_df["RD"] = 0
for j in range(1, 21):
    
    risk_free_col = rd_df[j/4]
    rd_df["RD"] += np.exp(-j/4*rd_df["lambda"]) * risk_free_col

rd_df["RD"] = rd_df["RD"]/4

In [169]:
rd_df = rd_df.sort_values(by = "first_trade_date")

In [170]:
rd_df["prev_spread"] = rd_df.groupby("ticker")["midspread"].shift(1)

In [171]:
rd_df["prev_spread"]

1319           NaN
1665           NaN
2657           NaN
2956           NaN
2928           NaN
            ...
242912    0.006644
245841    0.011978
239854    0.010400
245658    0.029882
239960    2.750239
Name: prev_spread, Length: 246948, dtype: float64

In [172]:
rd_df["return"] = rd_df["prev_spread"] / 250 + (rd_df["midspread"] - rd_df["prev_spread"]) * rd_df["RD"]

In [174]:
rd_df.sort_index()

,ticker,redcode,month,first_trade_date,midspread,Date,0.25,0.5,0.75,1.0,...,3.75,4.0,4.25,4.5,4.75,5.0,lambda,RD,prev_spread,return
0,EMN,29EB75,2001-08-01 00:00:00-04:00,2001-08-10,0.011089,2001-08-10,0.997859,0.995796,0.993706,0.991502,...,0.960232,0.957022,0.953782,0.950509,0.947200,0.943847,0.006648,4.781585,NaN,NaN
1,TIN,8FGHEE,2001-05-01 00:00:00-04:00,2001-05-01,0.011838,2001-05-01,0.997553,0.995112,0.992609,0.990008,...,0.957010,0.953727,0.950413,0.947069,0.943691,0.940276,0.007097,4.763786,0.012979,-0.005380
2,LNC,5I759F,2001-11-01 01:00:00-04:00,2001-11-01,0.004350,2001-11-01,0.998713,0.997516,0.996258,0.994835,...,0.969838,0.967029,0.964169,0.961257,0.958287,0.955250,0.002609,4.866606,0.004350,0.000017
3,JCP,UB78A0,2001-12-01 01:00:00-04:00,2001-12-03,0.041375,2001-12-03,0.998888,0.997740,0.996427,0.994851,...,0.965541,0.962344,0.959108,0.955828,0.952495,0.949096,0.024748,4.585023,0.045457,-0.018535
4,BDK,09A8GG,2001-07-01 00:00:00-04:00,2001-07-02,0.006541,2001-07-02,0.997709,0.995498,0.993106,0.990437,...,0.956786,0.953447,0.950076,0.946672,0.943231,0.939750,0.003923,4.803138,0.006062,0.002324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246943,CONRES,2D3216,2024-05-01 00:00:00-04:00,2024-05-01,0.009583,2024-05-01,0.996593,0.993235,0.990118,0.987262,...,0.957163,0.954554,0.951957,0.949374,0.946807,0.944261,0.005746,4.775661,0.009566,0.000120
246944,DIAMSPO,2H79EM,2024-03-01 01:00:00-04:00,2024-03-01,NaN,2024-03-01,0.996618,0.993434,0.990530,0.987882,...,0.961444,0.959099,0.956746,0.954390,0.952034,0.949687,NaN,NaN,NaN,NaN
246945,ILNOIS,4J7365,2024-02-01 01:00:00-04:00,2024-02-01,0.008737,2024-02-01,0.996618,0.993583,0.990906,0.988510,...,0.964677,0.962534,0.960381,0.958223,0.956064,0.953912,0.005239,4.806382,0.008777,-0.000157
246946,WMI,9D516R,2024-11-01 00:00:00-04:00,2024-11-01,0.005239,2024-11-01,0.997123,0.994490,0.991927,0.989340,...,0.961807,0.959266,0.956711,0.954143,0.951564,0.948978,0.003142,4.825722,0.005384,-0.000679
246947,PCU,8C68B0,2024-11-01 00:00:00-04:00,2024-11-01,0.023131,2024-11-01,0.997123,0.994490,0.991927,0.989340,...,0.961807,0.959266,0.956711,0.954143,0.951564,0.948978,0.013855,4.693880,0.022994,0.000736

In [178]:
def pull_markit_data(start_year=2001, end_year=2001, wrds_username=WRDS_USERNAME):
    db = wrds.Connection(wrds_username=wrds_username)
    first_trade_df = pd.DataFrame()
    last_trade_df = pd.DataFrame()

    for year in range(int(start_year), int(end_year)+1):
        table = f"markit.cds{year}"
        query = f"""
        WITH trade_data AS (
            SELECT 
                ticker, 
                redcode, 
                DATE_TRUNC('month', date) AS month,  
                date AS trade_date, 
                parspread AS midspread,
                ROW_NUMBER() OVER (
                    PARTITION BY ticker, redcode, DATE_TRUNC('month', date) 
                    ORDER BY date ASC
                ) AS first_trade_rank,  -- Rank 1 for first trade
                ROW_NUMBER() OVER (
                    PARTITION BY ticker, redcode, DATE_TRUNC('month', date) 
                    ORDER BY date DESC
                ) AS last_trade_rank  -- Rank 1 for last trade
            FROM 
                {table}
            WHERE 
                tenor = '5Y' 
                AND country = 'United States'
        )
        SELECT 
            ticker, 
            redcode, 
            month, 
            trade_date, 
            midspread,
            CASE WHEN first_trade_rank = 1 THEN 'first' ELSE 'last' END AS trade_type
        FROM 
            trade_data
        WHERE 
            first_trade_rank = 1 OR last_trade_rank = 1
        """
        new_df = db.raw_sql(query)

        # Split into first and last trade datasets
        first_trades = new_df[new_df['trade_type'] == 'first'].drop(columns=['trade_type'])
        last_trades = new_df[new_df['trade_type'] == 'last'].drop(columns=['trade_type'])

        # Combine data across years
        first_trade_df = pd.concat([first_trade_df, first_trades])
        last_trade_df = pd.concat([last_trade_df, last_trades])

    db.close()

    # Ensure date columns are in datetime format
    first_trade_df['trade_date'] = pd.to_datetime(first_trade_df['trade_date'])
    last_trade_df['trade_date'] = pd.to_datetime(last_trade_df['trade_date'])

    return first_trade_df, last_trade_df

In [179]:
first_trade_df, last_trade_df = pull_markit_data()

Loading library list...
Done

In [181]:
first_trade_df.head()

  ticker redcode                      month trade_date  midspread
0     AA  014B98  2001-01-01 00:00:00-05:00 2001-01-09   0.004192
2     AA  014B98  2001-02-01 00:00:00-05:00 2001-02-01   0.003995
4     AA  014B98  2001-03-01 00:00:00-05:00 2001-03-01   0.004809
6     AA  014B98  2001-04-01 00:00:00-05:00 2001-04-02   0.004214
8     AA  014B98  2001-05-01 00:00:00-04:00 2001-05-01   0.003550

In [182]:
last_trade_df.head()

  ticker redcode                      month trade_date  midspread
1     AA  014B98  2001-01-01 00:00:00-05:00 2001-01-31   0.003995
3     AA  014B98  2001-02-01 00:00:00-05:00 2001-02-28   0.004496
5     AA  014B98  2001-03-01 00:00:00-05:00 2001-03-30   0.003940
7     AA  014B98  2001-04-01 00:00:00-05:00 2001-04-30   0.003550
9     AA  014B98  2001-05-01 00:00:00-04:00 2001-05-31   0.003500

In [ ]:
first_trade_df = first_trade_df.sort_values(by=["ticker", "redcode", "month"])
last_trade_df = last_trade_df.sort_values(by=["ticker", "redcode", "month"])

2001

In [192]:
first_trade_df.head(2)

  ticker redcode                      month trade_date  midspread
0     AA  014B98  2001-01-01 00:00:00-05:00 2001-01-09   0.004192
2     AA  014B98  2001-02-01 00:00:00-05:00 2001-02-01   0.003995

In [196]:
last_trade_df["merge_month"] = last_trade_df["month"].shift(-1)

In [203]:
merged_df = first_trade_df.merge(last_trade_df[["ticker","merge_month","midspread"]], how = "left", right_on=["ticker","merge_month"], left_on = ["ticker","month"])

In [209]:
merged_df = merged_df.rename(columns = {"midspread_x": "spread", "midspread_y":"prev_spread"})
merged_df = merged_df[["ticker","month","trade_date","spread","prev_spread"]]

In [210]:
merged_df

     ticker                      month trade_date    spread  prev_spread
0        AA  2001-01-01 00:00:00-05:00 2001-01-09  0.004192          NaN
1        AA  2001-02-01 00:00:00-05:00 2001-02-01  0.003995     0.003995
2        AA  2001-03-01 00:00:00-05:00 2001-03-01  0.004809     0.004496
3        AA  2001-03-01 00:00:00-05:00 2001-03-01  0.004809     0.003700
4        AA  2001-04-01 00:00:00-05:00 2001-04-02  0.004214     0.003940
...     ...                        ...        ...       ...          ...
3313    YUM  2001-08-01 00:00:00-04:00 2001-08-06  0.025250     0.030083
3314    YUM  2001-09-01 00:00:00-04:00 2001-09-14  0.019500     0.023833
3315    YUM  2001-10-01 00:00:00-04:00 2001-10-01  0.033500     0.033500
3316    YUM  2001-11-01 00:00:00-05:00 2001-11-02  0.029000     0.033000
3317    YUM  2001-12-01 00:00:00-05:00 2001-12-28  0.020304     0.027000

[3318 rows x 5 columns]