In [2]:
import pandas as pd
import wrds
from settings import config

# Load WRDS credentials from config
WRDS_USERNAME = config("WRDS_USERNAME")

# WRDS Connection
db = wrds.Connection(wrds_username=WRDS_USERNAME)

# Function to pull column names for a given year
def get_column_names(year):
    """Fetch column names from Markit CDS tables for a given year."""
    table_name = f"markit.cds{year}"
    query = f"SELECT * FROM {table_name} LIMIT 5"  # Fetch only a few rows to inspect structure
    df = db.raw_sql(query)
    return df.columns.tolist()

# Pull column names for two periods
years_pre_2009 = list(range(2001, 2009))   # 2001 - 2008
years_post_2009 = list(range(2009, 2025))  # 2009 - 2025

# Extract unique column names for each period
columns_pre_2009 = set()
columns_post_2009 = set()

print("Fetching column names for Markit CDS data (2001-2008)...")
for year in years_pre_2009:
    columns_pre_2009.update(get_column_names(year))
print(" Done!")

print("Fetching column names for Markit CDS data (2009-2025)...")
for year in years_post_2009:
    columns_post_2009.update(get_column_names(year))
print(" Done!")

# Convert to lists for easier viewing
columns_pre_2009 = sorted(columns_pre_2009)
columns_post_2009 = sorted(columns_post_2009)

# Display results
print("\n **Columns in Markit CDS Data (2001-2008):**")
print(columns_pre_2009)

print("\n **Columns in Markit CDS Data (2009-2025):**")
print(columns_post_2009)

# Compare Differences
added_columns = set(columns_post_2009) - set(columns_pre_2009)
removed_columns = set(columns_pre_2009) - set(columns_post_2009)

print("\n **Columns Added After 2009:**")
print(added_columns if added_columns else "None")

print("\n **Columns Removed After 2009:**")
print(removed_columns if removed_columns else "None")

# Close WRDS Connection
db.close()
print("\n Analysis Complete!")

Loading library list...
Done
Fetching column names for Markit CDS data (2001-2008)...
 Done!
Fetching column names for Markit CDS data (2009-2025)...
 Done!

 **Columns in Markit CDS Data (2001-2008):**
['_52wkhigh5y', '_52wklow5y', 'avrating', 'bankcontributionsdepthcontr', 'bankcontributionsdepthpassed', 'baspreaddepthpassed', 'batch', 'bidasktype5y', 'carriedforward', 'ccybasis', 'ccybasis10thpctlpassed', 'ccybasis90thpctlpassed', 'ccybasiscarriedforward', 'ccybasisdepthpassed', 'ccybasisstddevpassed', 'cdsassumedrecovery', 'cdsrealrecovery', 'clearingsubmissionsdepthcontr', 'clearingsubmissionsdepthpassed', 'compositecurverating', 'compositedepth5y', 'compositepricerating', 'contr10pctlpassedrecovery', 'contr10thpctlpassed', 'contr90thpctlpassed', 'contr90thpctlpassedrecovery', 'contrlqrangepassed', 'contrlqrangepassedrecovery', 'contrmaxminrangepassed', 'contrmaxminrangepassedrecovery', 'contrstddevpassedrecovery', 'convbaspread10thpctlpassed', 'convbaspread90thpctlpassed', 'convbaspreadaverage', 'convbaspreadaverage1mma', 'convbaspreadaverage1wma', 'convbaspreadaverage2mma', 'convbaspreadhigh', 'convbaspreadhigh1mma', 'convbaspreadhigh1wma', 'convbaspreadhigh2mma', 'convbaspreadstddevpassed', 'convspreard', 'country', 'creditdv01', 'currency', 'curveliquidityscore', 'curveliquidityscore1mma', 'curveliquidityscore1wma', 'curveliquidityscore2mma', 'dailyupdatefrequency', 'date', 'dealersborcountcurve', 'dealersborcountcurve1mma', 'dealersborcountcurve1wma', 'dealersborcountcurve2mma', 'dealersclearingcountcruve', 'dealersclearingcountcurve1mma', 'dealersclearingcountcurve1wma', 'dealersclearingcountcurve2mma', 'dealersquotescountcurve', 'dealersquotescountcurve1mma', 'dealersquotescountcurve1wma', 'dealersquotescountcurve2mma', 'dealersquotescounttenor', 'dealersquotescounttenor1mma', 'dealersquotescounttenor1wma', 'dealersquotescounttenor2mma', 'docclause', 'docclausebasis', 'docclausebasis10thpctlpassed', 'docclausebasis90thpctlpassed', 'docclausebasiscarriedforward', 'docclausebasisdepthpassed', 'docclausebasisstddevpassed', 'dp', 'dtz', 'estimatednotional', 'gnxtrd', 'gnxtrd1mma', 'gnxtrd2mma', 'hasbankcontributions', 'hasclearsubmissions', 'hasquotes', 'idxmember', 'impliedrating', 'irdv01', 'isdabasis', 'isdabasis10thpctlpassed', 'isdabasis90thpctlpassed', 'isdabasiscarriedforward', 'isdabasisdepthpassed', 'isdabasisstddevpassed', 'jtd', 'maxdailymovement', 'parspread', 'primarycoupon', 'primarycurve', 'primarydepthcontributed', 'primarydepthpassed', 'primarydepthpassed1mma', 'primarydepthpassed1wma', 'primarydepthpassed2mma', 'primarypricetype', 'quotescountcurve', 'quotescountcurve1mma', 'quotescountcurve1wma', 'quotescountcurve2mma', 'quotescounttenor', 'quotescounttenor1mma', 'quotescounttenor1wma', 'quotescounttenor2mma', 'quotesdepthcontr', 'quotesdepthpassed', 'rec01', 'redcode', 'region', 'riskypv01', 'runningcoupon', 'sec4lastupdate', 'sector', 'shortname', 'tbl6lastupdate', 'tenor', 'tenorbasis10thpctlpassed', 'tenorbasis90thpctlpassed', 'tenorbasisdepthpassed', 'tenorbasisstddevpassed', 'ticker', 'tier', 'tierbasis', 'tierbasis10thpctlpassed', 'tierbasis90thpctlpassed', 'tierbasiscarriedforward', 'tierbasisdepthpassed', 'tierbasisstddevpassed', 'upfront', 'upfrontbaspread10thpctlpassed', 'upfrontbaspread90thpctlpassed', 'upfrontbaspreadaverage', 'upfrontbaspreadaverage1mma', 'upfrontbaspreadaverage1wma', 'upfrontbaspreadaverage2mma', 'upfrontbaspreadhigh', 'upfrontbaspreadhigh1mma', 'upfrontbaspreadhigh1wma', 'upfrontbaspreadhigh2mma', 'upfrontbaspreadstddevpassed', 'wklycontr', 'wklycontr1m', 'wklycontr1y', 'wklycontrctsec4', 'wklycontrctsec41mma', 'wklycontrctsec42mma', 'wklygnsec4', 'wklygnsec41mma', 'wklygnsec42mma', 'wklygrossnotional', 'wklygrossnotional1m', 'wklygrossnotional1y', 'wklynetnotional', 'wklynetnotional1m', 'wklynetnotional1y']

 **Columns in Markit CDS Data (2009-2025):**
['_52wkhigh5y', '_52wklow5y', 'avrating', 'bankcontributionsdepthcontr', 'bankcontributionsdepthpassed', 'baspreaddepthpassed', 'batch', 'bidasktype5y', 'carriedforward', 'ccybasis', 'ccybasis10thpctlpassed', 'ccybasis90thpctlpassed', 'ccybasiscarriedforward', 'ccybasisdepthpassed', 'ccybasisstddevpassed', 'cdsassumedrecovery', 'cdsrealrecovery', 'clearingsubmissionsdepthcontr', 'clearingsubmissionsdepthpassed', 'compositecurverating', 'compositedepth5y', 'compositepricerating', 'contr10pctlpassedrecovery', 'contr10thpctlpassed', 'contr90thpctlpassed', 'contr90thpctlpassedrecovery', 'contrlqrangepassed', 'contrlqrangepassedrecovery', 'contrmaxminrangepassed', 'contrmaxminrangepassedrecovery', 'contrstddevpassedrecovery', 'convbaspread10thpctlpassed', 'convbaspread90thpctlpassed', 'convbaspreadaverage', 'convbaspreadaverage1mma', 'convbaspreadaverage1wma', 'convbaspreadaverage2mma', 'convbaspreadhigh', 'convbaspreadhigh1mma', 'convbaspreadhigh1wma', 'convbaspreadhigh2mma', 'convbaspreadstddevpassed', 'convspreard', 'country', 'creditdv01', 'currency', 'curveliquidityscore', 'curveliquidityscore1mma', 'curveliquidityscore1wma', 'curveliquidityscore2mma', 'dailyupdatefrequency', 'date', 'dealersborcountcurve', 'dealersborcountcurve1mma', 'dealersborcountcurve1wma', 'dealersborcountcurve2mma', 'dealersclearingcountcruve', 'dealersclearingcountcurve1mma', 'dealersclearingcountcurve1wma', 'dealersclearingcountcurve2mma', 'dealersquotescountcurve', 'dealersquotescountcurve1mma', 'dealersquotescountcurve1wma', 'dealersquotescountcurve2mma', 'dealersquotescounttenor', 'dealersquotescounttenor1mma', 'dealersquotescounttenor1wma', 'dealersquotescounttenor2mma', 'docclause', 'docclausebasis', 'docclausebasis10thpctlpassed', 'docclausebasis90thpctlpassed', 'docclausebasiscarriedforward', 'docclausebasisdepthpassed', 'docclausebasisstddevpassed', 'dp', 'dtz', 'estimatednotional', 'gnxtrd', 'gnxtrd1mma', 'gnxtrd2mma', 'hasbankcontributions', 'hasclearsubmissions', 'hasquotes', 'idxmember', 'impliedrating', 'irdv01', 'isdabasis', 'isdabasis10thpctlpassed', 'isdabasis90thpctlpassed', 'isdabasiscarriedforward', 'isdabasisdepthpassed', 'isdabasisstddevpassed', 'jtd', 'maxdailymovement', 'parspread', 'primarycoupon', 'primarycurve', 'primarydepthcontributed', 'primarydepthpassed', 'primarydepthpassed1mma', 'primarydepthpassed1wma', 'primarydepthpassed2mma', 'primarypricetype', 'quotescountcurve', 'quotescountcurve1mma', 'quotescountcurve1wma', 'quotescountcurve2mma', 'quotescounttenor', 'quotescounttenor1mma', 'quotescounttenor1wma', 'quotescounttenor2mma', 'quotesdepthcontr', 'quotesdepthpassed', 'rec01', 'redcode', 'region', 'riskypv01', 'runningcoupon', 'sec4lastupdate', 'sector', 'shortname', 'tbl6lastupdate', 'tenor', 'tenorbasis10thpctlpassed', 'tenorbasis90thpctlpassed', 'tenorbasisdepthpassed', 'tenorbasisstddevpassed', 'ticker', 'tier', 'tierbasis', 'tierbasis10thpctlpassed', 'tierbasis90thpctlpassed', 'tierbasiscarriedforward', 'tierbasisdepthpassed', 'tierbasisstddevpassed', 'upfront', 'upfrontbaspread10thpctlpassed', 'upfrontbaspread90thpctlpassed', 'upfrontbaspreadaverage', 'upfrontbaspreadaverage1mma', 'upfrontbaspreadaverage1wma', 'upfrontbaspreadaverage2mma', 'upfrontbaspreadhigh', 'upfrontbaspreadhigh1mma', 'upfrontbaspreadhigh1wma', 'upfrontbaspreadhigh2mma', 'upfrontbaspreadstddevpassed', 'wklycontr', 'wklycontr1m', 'wklycontr1y', 'wklycontrctsec4', 'wklycontrctsec41mma', 'wklycontrctsec42mma', 'wklygnsec4', 'wklygnsec41mma', 'wklygnsec42mma', 'wklygrossnotional', 'wklygrossnotional1m', 'wklygrossnotional1y', 'wklynetnotional', 'wklynetnotional1m', 'wklynetnotional1y']

 **Columns Added After 2009:**
None

 **Columns Removed After 2009:**
None

 Analysis Complete!

In [3]:
import pandas as pd
import wrds
from settings import config

# WRDS Connection
WRDS_USERNAME = config("WRDS_USERNAME")
db = wrds.Connection(wrds_username=WRDS_USERNAME)

# Define periods
years_pre_2009 = list(range(2001, 2009))   # 2001 - 2008
years_post_2009 = list(range(2009, 2025))  # 2009 - 2025

# Function to pull sample data
def get_sample_data(year, limit=5000):
    """Fetches a sample of CDS data for a given year."""
    table_name = f"markit.cds{year}"
    query = f"""
    SELECT * FROM {table_name} 
    WHERE tenor = '5Y' AND country = 'United States' 
    LIMIT {limit}
    """
    df = db.raw_sql(query)
    return df

# Fetch sample data
print("Fetching Pre-2009 Sample Data...")
df_pre_2009 = pd.concat([get_sample_data(year) for year in years_pre_2009], ignore_index=True)
print(" Done!")

print("Fetching Post-2009 Sample Data...")
df_post_2009 = pd.concat([get_sample_data(year) for year in years_post_2009], ignore_index=True)
print(" Done!")

# Function to analyze missing values
def analyze_missing_values(df, period):
    missing_values = df.isna().sum()
    total_rows = len(df)
    missing_percent = (missing_values / total_rows) * 100
    missing_summary = pd.DataFrame({'Missing Count': missing_values, 'Missing %': missing_percent})
    print(f"\n Missing Data Analysis ({period}):")
    display(missing_summary[missing_summary['Missing Count'] > 0].sort_values(by='Missing %', ascending=False))

# Compare missing values
analyze_missing_values(df_pre_2009, "2001-2008")
analyze_missing_values(df_post_2009, "2009-2025")

# Function to compute summary statistics
def compute_summary_stats(df, period):
    print(f"\n Summary Statistics for {period}:")
    display(df.describe())

# Compare summary statistics
compute_summary_stats(df_pre_2009, "2001-2008")
compute_summary_stats(df_post_2009, "2009-2025")

# Function to compare unique values across key fields
def compare_unique_values(col_name):
    unique_pre = set(df_pre_2009[col_name].dropna().unique())
    unique_post = set(df_post_2009[col_name].dropna().unique())
    added_values = unique_post - unique_pre
    removed_values = unique_pre - unique_post
    print(f"\n Unique Values Analysis for {col_name}:")
    print(f"Added after 2009: {added_values if added_values else 'None'}")
    print(f"Removed after 2009: {removed_values if removed_values else 'None'}")

# Compare unique values for key fields
compare_unique_values("ticker")
compare_unique_values("sector")
compare_unique_values("region")

# Function to compare distributions of key financial fields
def compare_distributions(col_name):
    print(f"\n Distribution Comparison for {col_name}:")
    display(pd.DataFrame({
        "Pre-2009": df_pre_2009[col_name].describe(),
        "Post-2009": df_post_2009[col_name].describe()
    }))

# Compare distributions for key financial metrics
compare_distributions("parspread")
compare_distributions("creditdv01")
compare_distributions("riskypv01")
compare_distributions("upfront")

# Close connection
db.close()
print("\n Analysis Complete!")

Loading library list...
Done
Fetching Pre-2009 Sample Data...

/var/folders/n9/vfrn1pps4m9ck4b_g2tp2bdr0000gn/T/ipykernel_5675/3965967262.py:27: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_pre_2009 = pd.concat([get_sample_data(year) for year in years_pre_2009], ignore_index=True)

 Done!
Fetching Post-2009 Sample Data...

/var/folders/n9/vfrn1pps4m9ck4b_g2tp2bdr0000gn/T/ipykernel_5675/3965967262.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_post_2009 = pd.concat([get_sample_data(year) for year in years_post_2009], ignore_index=True)

 Done!

 Missing Data Analysis (2001-2008):

                             Missing Count  Missing %
dealersquotescountcurve2mma          40000   100.0000
upfrontbaspreadhigh                  40000   100.0000
dealersborcountcurve1mma             40000   100.0000
dealersborcountcurve2mma             40000   100.0000
upfrontbaspreadaverage               40000   100.0000
...                                    ...        ...
runningcoupon                        39571    98.9275
avrating                              5350    13.3750
cdsrealrecovery                       2085     5.2125
primarycoupon                         1578     3.9450
impliedrating                          178     0.4450

[145 rows x 2 columns]

 Missing Data Analysis (2009-2025):

                        Missing Count  Missing %
isdabasis                       80000  100.00000
tierbasis                       80000  100.00000
_52wkhigh5y                     80000  100.00000
_52wklow5y                      80000  100.00000
ccybasis90thpctlpassed          80000  100.00000
...                               ...        ...
avrating                         4799    5.99875
cdsrealrecovery                    55    0.06875
compositecurverating                1    0.00125
compositepricerating                1    0.00125
compositedepth5y                    1    0.00125

[146 rows x 2 columns]

 Summary Statistics for 2001-2008:

,runningcoupon,parspread,convspreard,upfront,cdsrealrecovery,cdsassumedrecovery,compositedepth5y,creditdv01,riskypv01,irdv01,rec01,dp,jtd,dtz
count,429.000000,40000.000000,399.000000,399.000000,37915.000000,4.290000e+02,40000.000000,378.000000,378.000000,378.000000,378.000000,378.000000,3.780000e+02,3.780000e+02
mean,0.020163,0.009344,0.008132,-0.052124,0.396974,4.000000e-01,6.471025,4845.569974,4.626614,136.283148,6657.717302,0.070348,6.564507e+06,1.053242e+07
std,0.017434,0.009233,0.001848,0.080214,0.033448,5.557596e-17,4.471891,359.240490,0.087970,207.915757,1324.213262,0.014376,7.991219e+05,8.124840e+05
min,0.010000,0.001436,0.004575,-0.208388,0.200000,4.000000e-01,2.000000,4360.580000,4.450000,-58.930000,5144.290000,0.056416,5.766689e+06,9.766689e+06
25%,0.010000,0.004033,0.007441,-0.015494,0.385714,4.000000e-01,4.000000,4632.350000,4.560000,25.775000,6039.560000,0.064648,6.100286e+06,1.010029e+07
50%,0.010000,0.007903,0.007639,-0.011077,0.400000,4.000000e-01,5.000000,4697.515000,4.640000,28.470000,6226.695000,0.066345,6.122897e+06,1.011057e+07
75%,0.050000,0.009396,0.007863,-0.010147,0.403125,4.000000e-01,8.000000,4949.312500,4.670000,39.105000,6987.750000,0.069269,6.319585e+06,1.015372e+07
max,0.050000,0.065807,0.015232,0.023337,0.500000,4.000000e-01,26.000000,5794.500000,4.900000,553.070000,11384.230000,0.124697,8.083787e+06,1.208379e+07

 Summary Statistics for 2009-2025:

,runningcoupon,parspread,convspreard,upfront,cdsrealrecovery,cdsassumedrecovery,carriedforward,compositedepth5y,primarydepthcontributed,primarydepthpassed,...,wklycontr,wklycontr1m,wklycontr1y,creditdv01,riskypv01,irdv01,rec01,dp,jtd,dtz
count,63841.000000,80000.000000,63781.000000,63781.000000,79945.000000,63841.0,40060.0,79999.000000,7212.000000,7212.000000,...,3598.000000,3598.000000,3984.000000,19060.000000,19060.000000,19060.000000,19060.000000,19060.000000,1.906000e+04,1.906000e+04
mean,0.030007,0.014935,0.012854,-0.080691,0.397649,0.4,0.0,4.869986,6.408625,3.488491,...,803.902724,824.962757,961.660141,5107.429285,4.711312,247.702312,7681.538122,0.076314,7.019084e+06,1.097100e+07
std,0.020000,0.012383,0.010984,0.105233,0.010106,0.0,0.0,2.767964,2.795900,2.052090,...,1091.067898,1108.953161,1253.698056,455.771973,0.192836,249.247782,3781.059072,0.038914,9.846748e+05,9.743863e+05
min,0.010000,0.002349,0.002216,-0.238516,0.350000,0.4,0.0,2.000000,3.000000,2.000000,...,14.000000,16.000000,14.000000,3227.710000,4.050000,-508.090000,1906.530000,0.019459,3.888497e+06,7.888497e+06
25%,0.010000,0.007721,0.007048,-0.190474,0.400000,0.4,0.0,2.000000,4.000000,2.000000,...,87.000000,93.000000,119.000000,4740.565000,4.570000,14.090000,5587.077500,0.055405,6.072184e+06,1.005662e+07
50%,0.050000,0.009902,0.008999,-0.034670,0.400000,0.4,0.0,4.000000,6.000000,3.000000,...,192.000000,192.000000,332.000000,5036.280000,4.730000,91.405000,7212.700000,0.071824,6.575461e+06,1.035600e+07
75%,0.050000,0.018159,0.015405,-0.003312,0.400000,0.4,0.0,7.000000,9.000000,5.000000,...,1807.000000,1881.000000,2245.000000,5515.677500,4.860000,496.550000,8756.992500,0.085204,7.968889e+06,1.194478e+07
max,0.050000,0.118127,0.114672,0.320047,0.410000,0.4,0.0,15.000000,14.000000,10.000000,...,3654.000000,3717.000000,3925.000000,6066.410000,5.130000,639.760000,41121.270000,0.434919,8.612198e+06,1.238482e+07

 Unique Values Analysis for ticker:
Added after 2009: {'AAHI', 'ABCLL', 'ABBVINC', 'ABBINS'}
Removed after 2009: {'ABF', 'ADI', 'ABK-AssurCorp', 'AIG', 'AES', 'ADM', 'AGN', 'AEP', 'ABK', 'ABS', 'AHC', 'AET'}

 Unique Values Analysis for sector:
Added after 2009: None
Removed after 2009: {'Utilities', 'Financials', 'Technology'}

 Unique Values Analysis for region:
Added after 2009: None
Removed after 2009: None

 Distribution Comparison for parspread:

           Pre-2009     Post-2009
count  40000.000000  80000.000000
mean       0.009344      0.014935
std        0.009233      0.012383
min        0.001436      0.002349
25%        0.004033      0.007721
50%        0.007903      0.009902
75%        0.009396      0.018159
max        0.065807      0.118127

 Distribution Comparison for creditdv01:

          Pre-2009     Post-2009
count   378.000000  19060.000000
mean   4845.569974   5107.429285
std     359.240490    455.771973
min    4360.580000   3227.710000
25%    4632.350000   4740.565000
50%    4697.515000   5036.280000
75%    4949.312500   5515.677500
max    5794.500000   6066.410000

 Distribution Comparison for riskypv01:

         Pre-2009     Post-2009
count  378.000000  19060.000000
mean     4.626614      4.711312
std      0.087970      0.192836
min      4.450000      4.050000
25%      4.560000      4.570000
50%      4.640000      4.730000
75%      4.670000      4.860000
max      4.900000      5.130000

 Distribution Comparison for upfront:

         Pre-2009     Post-2009
count  399.000000  63781.000000
mean    -0.052124     -0.080691
std      0.080214      0.105233
min     -0.208388     -0.238516
25%     -0.015494     -0.190474
50%     -0.011077     -0.034670
75%     -0.010147     -0.003312
max      0.023337      0.320047

 Analysis Complete!